table { 
    border:1px rgb(8, 8, 8) solid;     
}  
td {
    border:1px rgb(8, 8, 8) solid;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-size: 20px;
    color:rgb(224, 61, 170);
    padding:10px;
    text-align:center;
} 
td:nth-child(1){
    background-color: darksalmon;
    color:black
}
#pink{
    background-color:pink;
}
th {
    background-color: darksalmon;
    border:1px rgb(8, 8, 8) solid;
}
caption{
    font-size:50px
}
a:link{
    color:darksalmon;
}
a:active{
    color:skyblue;
}
a:visited{
    color:hotpink;
}
a:hover{
    color:blueviolet
}